<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid menu">
      <a class="navbar-brand" href="#">La Via Campesina</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <div class="collapse navbar-collapse floatting" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                The Problem
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Why we need climate Justice</a></li>
                <li><a class="dropdown-item" href="#">The industrial food system</a></li>
                <li><a class="dropdown-item" href="#">Women and climate change</a></li>
                <li><a class="dropdown-item" href="#">False solutions to climate change</a></li>
                <li><a class="dropdown-item" href="#">Climate justice will not be handed from the top</a></li>
                
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                The Solution
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Why peasant AgroEcology</a></li>
                <li><a class="dropdown-item" href="#">Peasant AE achieves CJ</a></li>
                <li><a class="dropdown-item" href="#">Peasant AE and the struggle against patriarchy</a></li>
                <li><a class="dropdown-item" href="#">Peasant AE empowers youth</a></li>
                <li><a class="dropdown-item" href="#">Call to action</a></li>

              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Who are we
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Peasant - definition from UNDROP</a></li>
                <li><a class="dropdown-item" href="#">African peasant</a></li>
                <li><a class="dropdown-item" href="#">LVC members</a></li>
                <li><a class="dropdown-item" href="#">the Peasant AE achieves CJ initiative</a></li>

              </ul>
            </li>

          </ul>
        </div>
      </div>
     
    </div>
  </nav>